body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

.logo {
    height: 30px;
    width: auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 400px;
    padding: 15px 130px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(126, 33, 33);
}

li {
    list-style: none;
}

.store {
    max-width: 300px;
    max-height: auto;
    min-width: 150px;
    min-height: auto;
    width: 100%;
}

.first-photo {
    display: flex;
    align-items: center;
}

.under-header {
    display: flex;
    padding: 75px 0;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    flex-shrink: 1;

}

.first-header {
    margin-bottom: 0;
    color: rgb(126, 33, 33);
    font-weight: 900;
}

p {
    color: rgb(126, 33, 33);
    display: flex;
    flex: 1;
}

button {
    background-color: rgb(126, 33, 33);
    color: white;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 15px max(170px);
}

h2 {
    display: flex;
    justify-content: center;
}

.rgx-image, .reaver-image, .ruination-image {
    width: 150px;
    height: 84px;
    border-radius: 20px;
    border: solid;
    border-color: rgb(23, 23, 44);
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.rgx, .reaver, .ruination {
    display: flex;
    justify-content: center;
    width: 180px;
    flex-wrap: wrap;
}

.text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9e9a9a56;
    height: 200px;
    padding: 15px 130px;
}

.text-quote {
    width: 400px;
    font-size: 24px;
    font-style: italic;
}

.name {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;  
}

.fourth {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    background-color: #1f2937;
    height: 60px;
    color:rgb(126, 33, 33);
    border-radius: 25px;
}